---
title: One Zero One
---

.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
      .inner.cover
        .logo
          = image_tag 'onezeroone-logo.png', alt: 'One Zero One Logo', class: 'img-responsive center-block'
        %p.lead Some text here
        %p.lead
          %h2.cover-heading Ventures
        %p.lead TBC, Tillless, Pendulum etc... ?
      .mastfoot
        .inner
          %p
            = mail_to 'info@onezeroone.com.au'
